<div class="background">
  <div class="wrap-background col-12">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 wrap-login">
      <div class="card p-5">
        <form class="mt-2 login-validation" [formGroup]="loginFormGroup" (ngSubmit)="login()">
          <div class="col-12">
            <img src="../../../assets/images/login/logo.svg" alt="logo" width="150" />
            <hr>
            <div>
              <label class="form-label">E-mail</label>
              <input type="email" class="form-control form-control-sm" formControlName="email"
                placeholder="ex: michael.lawson@reqres.in" required />
              <div class="invalid-feedback">
                <span class="text-danger">E-mail é obrigatório.</span>
              </div>
            </div>
            <div>
              <label class="col col-form-label">Senha</label>
              <input type="password" class="form-control form-control-sm" formControlName="password" required />
              <div class="invalid-feedback">
                <span class="text-danger">Senha é obrigatório.</span>
              </div>
            </div>
          </div>
          <div class="pt-3 d-flex justify-content-between">
            <span>
              <input id="checkfield" type="checkbox" (change)="rememberAccess($event)">
              <label class="form-check-label remember-access">Lembrar o Acesso</label>
            </span>
            <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">Esqueceu a senha?</a>
          </div>
          <button class="col-12 col-sm-4 btn btn-primary btn-sm mt-4" type="submit">Entrar</button>
        </form>
        <div class="pt-4 d-flex justify-content-between">
          <hr style="width: 35%;">
          <span class="bold">Cadastro</span>
          <hr style="width: 35%;">
        </div>
        <form class="mt-2" [formGroup]="registerFormGroup" (ngSubmit)="register()">
          <div class="col-12">
            <div class="col-12">
              <div>
                <label class="form-label">E-mail</label>
                <input type="email" class="form-control form-control-sm" formControlName="email"
                  placeholder="ex: charles.morris@reqres.in" required />
                <div class="invalid-feedback">
                  <span class="text-danger">E-mail é obrigatório.</span>
                </div>
              </div>
              <div>
                <label class="col col-form-label">Senha</label>
                <input type="password" class="form-control form-control-sm" formControlName="password" required />
                <div class="invalid-feedback">
                  <span class="text-danger">Senha é obrigatório.</span>
                </div>
              </div>
            </div>
          </div>
          <button class="col-12 col-sm-4 btn btn-primary btn-sm mt-4" type="submit">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer">
    <b>© 2022, Developed with 🧡 by Sergio Hideki Ono</b>
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Recuperar senha</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Informe seu e-mail que deseja recuperar a senha.
        <form class="mt-2" [formGroup]="recoveryPasswordFormGroup" (ngSubmit)="recoveryPassword()">
          <div>
            <label class="form-label">E-mail</label>
            <input type="email" class="form-control form-control-sm" formControlName="email"
              placeholder="michael.lawson@reqres.in" required />
            <div class="invalid-feedback">
              <span class="text-danger">E-mail é obrigatório.</span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="col-4 btn btn-secondary btn-sm" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="col-4 btn btn-primary btn-sm" (click)="recoveryPassword()">Recuperar</button>
      </div>
    </div>
  </div>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>