.header {
    position: absolute;
    width: 100%;
}

.main-section img{
    width: 100%;
}

.wrap-control {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #565656e0;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    z-index: -1;
}

.carousel-caption {
    border-radius: 10px;
    transform: scale(0.8);
}

@media screen and (max-width: 768px) {
    .header {
        position: relative;
    }

    .wrap-background {
        object-fit: cover;
    }

    .carousel-content {
        transform: scale(0.6);
    }
}