.background {
    background-image: url("../../..//assets/images/home/background.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    z-index: -1;
    color: white;
}

@media screen and (max-width: 425px) {
    .profile-image {
        border-radius: 10px;
    }
}