<app-header></app-header>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="max-width: 100%; max-height: 70vh;">
    <div class="col-12 carousel-item" [ngClass]="getSliderClass(isFirst, isLast, isEven, isOdd)"
      [ngStyle]="getSliderStyle(slide.src)"
      *ngFor="let slide of slides; index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd">
      <div class="carousel-caption d-sm-block" style="background: #000000a3;">
        <h1>{{slide.title}}</h1>
        <hr>
        <p class="p-4 m-0" [ngStyle]="{'font-size': '20px'}">{{slide.content}}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="wrap-control">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="wrap-control">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </span>
  </button>
</div>

<!-- <div class="background">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item" [ngClass]="getSliderClass(isFirst, isLast, isEven, isOdd)"
        [ngStyle]="getSliderStyle(slide.src)"
        *ngFor="let slide of slides; index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd">
        <div class="carousel-caption d-none d-md-block" style="background: #000000a3;">
          <h1>{{slide.title}}</h1>
          <hr>
          <p class="p-4 m-0" [ngStyle]="{'font-size': '20px'}">{{slide.content}}</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->

<!-- <div class="background">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item" [ngClass]="getSliderClass(isFirst, isLast, isEven, isOdd)"
        [ngStyle]="getSliderStyle(slide.src)"
        *ngFor="let slide of slides; index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd">
        <div class="carousel-caption d-none d-md-block" style="background: #000000a3;">
          <h1>{{slide.title}}</h1>
          <hr>
          <p class="p-4 m-0" [ngStyle]="{'font-size': '20px'}">{{slide.content}}</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->