.background {
    // background-image: url("../../../assets/images/home/background.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    z-index: -1;
    color: #6d6d6d;
}

.wrap-card {
    border-radius: 10px;
    background: white;
    max-width: 450px;
}

.cursor {
    cursor: pointer;
    color: #6d6d6d;
    text-decoration: none;
}

.profile {
    border-radius: 10px;
}