.background {
    background-image: url("../../../assets/images/home/background.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    z-index: -1;
    color: white;
}

.cursor {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.profile {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}