.container-fluid {
    padding: 15px;
}

.navbar {
    background: transparent !important;
    position: relative;
}

.menu {
    list-style: none;
    padding: 0 80px 0 80px;
}

li {
    font-size: 26px;
    font-weight: bold;
}

.font {
    font-family: "BlackRange", sans-serif;
}

.profile-image {
    width: 100px;
    border-radius: 10px;
}

.profile-font {
    font-size: 14px;
    font-weight: 400;
    font-family: system-ui;
    color: white !important;
}

.profile-content {
    color: #6d6d6d !important;
}

a {
    color: white !important;
    font-size: 1.5rem;
}

.icon {
    font-size: 25px;
    height: 25px;
    width: 25px;
}

ul a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

ul a:hover::after,
ul a:focus::after {
    transform: scale(1);
}

.item-nav:hover {
    color: #E43131;
}

@media screen and (max-width: 768px) {

    button {
        font-size: 12px;
    }

    img {
        width: 30%;
    }

    .profile-information {
        font-size: 0.9rem;
        background: #f0f0f0;
        border-radius: 10px;
        padding: 10px;
        margin: 0 10px;
    }

    .offcanvas-body {
        background: black;
    }
}