<!-- <div class="container-fluid">
  <ul class="d-flex justify-content-between">
    <img src=" ../../../../../assets/images/login/logo.svg" alt="logo" width="150" (click)="redirect()"
      [ngStyle]="{'cursor': 'pointer'}" />
    <span class="d-flex">
      <li class="menu" *ngFor="let menu of menuList" style="align-self: end;">
        <a class="nav-link hvr-underline-from-center" [href]="menu.link">{{menu.description}}</a>
      </li>
    </span>
  </ul>
</div> -->

<nav class="navbar navbar-light navbar-expand-md bg-light fixed-top shadow">
  <div class="container-fluid">
    <img src=" ../../../../../assets/images/login/logo.svg" alt="logo" width="150" (click)="redirect()"
      [ngStyle]="{'cursor': 'pointer'}" />
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <img src=" ../../../../../assets/images/login/logo.svg" alt="logo" width="150" />
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 d-flex">
          <!-- <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div>
              <img class="profile-image" [src]="profile?.avatar" alt="profile man">
            </div>
            <div class="pl-2 offset-1">
              Olá, <small class="h-4 bold">{{profile?.name}}</small>!<br><br>
              E-mail:<small class="bold"> {{profile?.email}}</small>
              Cargo:<small class="bold"> {{profile?.role}}</small>
            </div>
          </div>
          <hr style="width:100%"> -->
          <li class="menu p-0" *ngFor="let menu of menuList" style="align-self: end;">
            <a class="nav-link hvr-underline-from-center" [href]="menu.link">{{menu.description}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src=" ../../../../../assets/images/login/logo.svg" alt="logo" width="150" (click)="redirect()"
      [ngStyle]="{'cursor': 'pointer'}" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->