.container-fluid {
    color: #6d6d6d;
    padding: 15px;
}

.navbar {
    position: relative;
}

.menu {
    list-style: none;
    padding: 0 80px 0 80px;
}

li {
    font-size: 26px;
    font-weight: bold;
}

.font {
    font-family: "BlackRange", sans-serif;
}

.profile-image {
    width: 100px;
    border-radius: 10px;
}

.profile-font {
    font-size: 14px;
    font-weight: 400;
    font-family: system-ui;
    color: #6d6d6d !important;
}

a {
    color: #3155C7 !important;
    font-size: 1.5rem;
}

.icon {
    font-size: 25px;
    height: 25px;
    width: 25px;
}

::ng-deep .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: red;
    height: 2px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    z-index: 10;
}

@media screen and (max-width: 576px) {

    button {
        font-size: 12px;
    }

    img {
        width: 30%;
    }

    .profile-information {
        font-size: 0.9rem;
        background: #f0f0f0;
        border-radius: 10px;
        padding: 10px;
        margin: 0 10px;
    }
}