.wrap-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 55% 0 15%;
  height: 100vh;
  color: #525252;
  font-family: 'Tourgate';
}

svg {
  width: 100px;
  height: 100px;
}

.eye {
  fill: #fff;
  cursor: pointer;
}

.return {
  fill: #525252;
  color: #525252;
  cursor: pointer;
}

.return:hover {
  fill: #979797;
  color: #979797;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .wrap-message {
    margin: 0;
    color: #525252;
    backdrop-filter: blur(10px);
  }

  .blur {
    transform: scale(0.8);
  }
}