.wrap-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 55% 0 15%;
  height: 100vh;
  color: #525252;
}

svg{
  width: 100px;
  height: 100px;
}

.eye {
  fill: #fff;
  cursor: pointer;
}

.dumbbell {
  fill: #525252;
  cursor: pointer;
}

.dumbbell:hover {
  fill: #979797;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .wrap-message {
    margin: 0;
    color: #525252;
    backdrop-filter: blur(10px);
  }
}